

.main-section {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 100%;
}
/* Left Side */


.side-bar {
    max-height: 100%;
    min-width: 15%;
    width: 20%;
    border-right: 1px solid gray;
    background-color: white;
}
.personal-profile {
    display: flex;
    justify-content: space-around;
}

.status-profile {
    display: flex;
    justify-content: space-between;
}

.status-profile img {
    width: 40px;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.personal-title {
    margin-left: 10px;
}

.icon-profile {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: gray;

}

/* BUTTON CHAT */



.button-chat {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgba(128, 128, 128, 0.437); ;
    border-bottom: 2px solid rgba(128, 128, 128, 0.437);
}

.button-chat button {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #A491D2;
    border-color: #A491D2;
    padding-left: 40px;
    padding-right: 40px;

}

.btn:hover {
    background-color: #CDC3E6;
    border-color: #CDC3E6;
}

.btn:focus {
    background-color: #E8EBE4;
    border-color: #E8EBE4;
}


/* CHAT PROFILE SIDE */


.contact {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(128, 128, 128, 0.437);
    padding-left: 8%;
}

.contact img {
    width: 50px;
    border-radius: 50%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.contact-friend {
    padding-top: 5%;
    padding-left: 10%;
}


/* Container Chat */

.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E8EBE4;
}

.image-chat {
    display: flex;
    justify-content: center;
}

.image-chat img {
    width: 400px;
}
.chat-title {
    margin-top: 3%;
    text-align: center;
}
.chat-title p {
    margin-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
}